*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background: #122781;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: local scroll;;
    

}
.content {
    background: rgba(3, 4, 70, 0.384);
    padding: 10px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
  }
  
  /* Style the footer */
  .footer {
    background-color: #0d0629;
    padding: 10px;
  }
  .footer2 {
    background-color: #0d0629;
    margin: 0;
  }

