@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


.navbar {
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

}

.navbar a {
    color: #FF0042;

}
.navbar .logo {
    font-size: 2em;;
    font-weight: bold;

}
.navbar .nav-links{
    align-items: center;;
}
.navbar .nav-links ul {
    display: flex;
    font-weight: bold;
    font-size: 23px;

}
.navbar .nav-links li {
    margin: 0 25px;

}
.navbar .menu-bars{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 35px;
}
.mobile-menu {
    margin-left: 0;

}

@media screen and (max-width: 750px) {
    .navbar {
        padding: 0;
    }
    .nav-links {
        position: absolute;
        background-color: rgba(185, 169, 169, 0.247);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:-100%;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .nav-links ul li{
        margin: 60px 0;
        font-size: 1.2rem;

    }
    .navbar .menu-bars {
        display: block;
    }
}